*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ad container started */

.ad-container{
    background-color:var(--color-grey);
    height: 50px;
    display: flex;
    
    
}

.ad-items{
    margin-top: 10px;
    margin-left: 40px;
}

/* ad container end */

/* nav started */

nav{
    display: flex;
    justify-content: space-between;
}

.nav-left a{
    text-decoration: none;
    color: grey;
    font-size: 22px;
    
    
}

.nav-left a:hover{
    color: black;
}


/* nav ended */