*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-v);
}


/* ad container started */

.ad-container{
    background-color:var(--color-grey);
    height: 50px;
    display: flex;
    
    
}

.ad-items{
    margin-top: 10px;
    margin-left: 40px;
}

/* ad container end */

/* nav started */

nav{ 
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-top: 15px;
    margin-right: 70px;
}

.nav-left, .nav-right{
    list-style-type: none;
}

.nav-left li,.nav-right li{
    display: inline-block;
    margin-right: 12px;
}

.nav-left a{
    text-decoration: none;
    color: grey;
    font: 20px var(--font-v);
    margin-left: 25px;   
}

.nav-left a:hover{
    color: black;
}

#hpimg{
    position: relative;
    top: 15px;
    
}

.nav-right{
    margin-top: 15px;
}



#signin{
    background-color: black;
    color: white;
    height: 35px;
    width: 80px;
    font-family: var(--font-v);
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    padding: 0px 2px;
    border: none;

}

#hpsearch{
    width: 400px;
    height: 40px;
    font: 15px var(--font-v);
}

#glass{
    position: relative;
    right: 45px;
    cursor: pointer;
    
}

#cart{
    position: relative;
    top: 8px;
}


/* nav ended */


/* main started */




.swiper{
    margin-top: 30px;
    position: relative;
    height: 700px;
}

.swiper-slide img{
    width: 100%;
    height: 700px;
}

#img1_text{
    color: white;
    position: relative;
    bottom: 200px;
    font-family: var(--font-v);
    
}

#img1_text h1{
    font-size: var(--img-h2);
    margin-top: 45px;
    margin-left: 20px;
}

#img1_text p{
    font-size: var(--img-p);
    margin-top: 10px;
    margin-left: -20px;
}

#img1_buttons{
    margin-left: 15px;
    margin-top:10px ;
    
}

#img1_buttons button{
    width:80px;
    height: 30px;
    background-color: white;
    color: black;
    font: bold 15px var(--font-v);
    margin-right: 10px;
    cursor: pointer;
}

#img2,#img3,#img4,#img5,#img6{
    display: flex;

}

#left img{
    width: 100%;
}

#img2-h2{
    background-color: #a0f66e;
}

#right-ele h2{
    font-size:var(--img-h2);
    margin-left: 10px;
    
}

#right-ele p{
    font-size: var(--img-p);
    margin-left: -25px;
    margin-top: 5px;
}

#right-ele button{
    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    background-color: black;
    box-shadow: none;
    border: none;
    padding: 0px 5px;
    position: relative;
    top: 50px;
    margin-left: 25px;
    cursor: pointer;
}   

#right{
    background-color: #87de93 ;
    height: 700px;
    width: 60%;
}


#img3_left{
    width: 60%;

}

#img3_right{
    background-color:#f2fa64 ;
    width: 40%;
    
}

#img3_right h2{
    font-size: var(--img-h2);
    letter-spacing: 2px;
    margin-left: 15px;
    

}

#img3_right p{
    font-size: var(--img-p);
    margin-top: 20px;
    margin-left: -25px;
}

#img3_right button{
    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    background-color: black;
    box-shadow: none;
    border: none;
    padding: 0px 5px;
    position: relative;
    top: 50px;
    margin-left: 15px;
    cursor: pointer;

}

#img4_left{
    width: 40%;
    background-color:#87bbfa;
}

#img4-h2{
    background-color: #549ef8;
    padding-bottom: 20px;
}

#img4_left h2{
    font-size: var(--img-h2);
    text-align: center;
    
    
    
}

#img4_left p{
    font-size: 30px;
    margin-left: 77px;
    margin-top: 20px;
}

#img4_left_buttons{
    margin-top: 50px;
    margin-left: 80px;
}

#img4_left_buttons button{

    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    background-color: black;
    box-shadow: none;
    border: none;
    padding: 0px 5px;
    position: relative;
    top: 50px;
    margin-left: 15px;
    cursor: pointer;
    
}

#img4_right{
    width: 70%;
    position: relative;
    
}


#img5_left{
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #333333;

}

#img5_left h2{
    font-size: var(--img-h2);
    color: white;
    background-color: black;
    position: relative;
    left: 0px;
    text-align: center;

}


#img5_left p{
    color: white;
    font-size: var(--img-p);
    line-height: 40px;
    margin-left: 15px;
    margin-top: 25px;
}

#img5_buttons{
    margin-left: 50px;
}

#img5_buttons button{

    
    width: 90px;
    height: 35px;
    font-size: 18px;
    color: black    ;
    background-color: white;
    box-shadow: none;
    border: none;
    padding: 0px 5px;
    position: relative;
    top: 50px;
    margin-left: 12px;
    cursor: pointer;


}

#img6_right{
    background-color: #636372;
    width: 50%;
    color: white;
    margin-top: 0px;
    
}

#img6-h2{
    background-color: #212237;
    height: 120px;

}

#img6_right h2{
    font-size: var(--img-h2);
    margin-left: 40px;
}

#img6_right p{
    font-size: var(--img-p);
    margin-left: 0px;
    margin-top: 20px;
}

#img6_buttons button{

    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    background-color: black;
    box-shadow: none;
    border: none;
    padding: 0px 5px;
    position: relative;
    top: 50px;
    margin-left: 40px;
    cursor: pointer;

}


/* section starts */

#hey-container{
    margin-top: 50px;
    
}

#hey-container h2,p{
    padding-left: 45px;
    padding-bottom: 8px;
    
}

#hey-container h2{
    font-size: 40px;
}

#hey-container p{
    font-size: 30px;
}



.card-div{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}


.card{
    width: 400px;
    height: 435px;
    border: 1px solid black;
    cursor: pointer;

}



.card-title{
    text-align: center;
    background-color: #212237;
    color: white;
    font-size: 25px;
    height: 52px;
    padding-top: 10px;
    

}

.card-image img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.card-image:hover{
    transform: scale(1.3);
}

.h2div{
    margin-top: -2px;
}



/* section end */




/* main ended */


/* footer start */

.f-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;


}

.f-container div{
    margin-top: 30px;
    
}


.f-container button{

    width: 90px;
    height: 35px;
    font-size: 18px;
    color: black    ;
    background-color: white;
    box-shadow: none;
    border: none;
    cursor: pointer;
    position: relative;
    right: 120px;
    
 

}

#fc-h3{
    /*background-color: #5eeb71;*/
    margin-left: 80px;
}

.f-container h3{
    font-size: 23px;
}

#hr1{
    width: 100%;
    height: 1px;
    color: white;

}

.f-container2{
    background-color: black;
    color: white;
    height: 80px;
    
}

.f-container2 p{
    font-size: 13px;
    margin-left: 200px;
    position: relative;
    top: 20px;
    
}

.f-container2 img{
    margin-left: 2px;
    margin-right: 10px;
    position: relative;
    top: 3px;

}

.f-container2 hr{
    width: 80%;
    height: 1px;
    margin-top: 40px;
    margin-left: 165px;
}

.f-container3{
    display: flex;
    gap: 50px;
    background-color: black;
    color: white;
    padding-left: 175px;
    
}

.f-container3 ul{
    list-style-type: none;

    
}

.f-container3 ul li,h4{
    line-height: 30px;
    font-size: 12px;
}

#stay li{
    display: inline;
    margin-right: 8px;
}


#hr3{
    color: var(--color-grey);
    position: relative;
    top: -1px;
    width: 80%;
    left: 150px;
    
    
}

#f-container5{
    background-color: black;
    position: relative;
    top: -2px;
    height: 100px;
    padding-top: 20px;
}

.f-list{
    margin-left: 150px;
}

.f-list a{
    background-color: black;
    color: white;
    font-size: 12px;
    text-decoration: none;

}

.f-list a:hover{
    text-decoration: underline;
}

#copyright{
    color: white;
    font-size: 13px;
    position: relative;
    left: 100px;
    top: 20px;
}

#swiper


/* footer end */