*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ad container started */

.ad-container{
    background-color:var(--color-grey);
    height: 50px;
    display: flex;
    
    
}

.ad-items{
    margin-top: 10px;
    margin-left: 40px;
}

/* ad container end */

/* nav started */

nav{ 
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-top: 15px;
}

.nav-left, .nav-right{
    list-style-type: none;
}

.nav-left li,.nav-right li{
    display: inline-block;
    margin-right: 15px;
}




/*
.nav-left a{
    text-decoration: none;
    color: grey;
    font: 20px var(--font-v);
    margin-left: 25px;   
}
*/
.nav-left a:hover{
    color: black;
}







/* nav ended */